[Desktop Entry]
Type=Application
Name=RockNix Manager Linux
Exec=rocknix_manager
Icon=rocknix_manager
Categories=Utility;
Comment=Gerenciador para consoles RockNix
Terminal=false
